<header class="header">

  <button aria-expanded="false" aria-controls="menu" aria-label="Cliquez pour ouvrir le menu" class="bt-menu"><svg class="icon-top icon-menu"><use xlink:href="#icon-menu"></use></svg></button>
    <nav class="menu">
      <a aria-label="Page d'accueil" href="/"> Accueil </a>
      <a aria-label="Nos articles" href="/articles"> Articles </a>
      <a aria-label="À popos de notre association" href="/about"> À propos </a>

    </nav>
  
  <button aria-expanded="false" aria-controls="search-container" aria-label="Search" class="bt-search"><svg class="icon-top icon-search"><use xlink:href="#icon-search"></use></svg></button>
  <div id="search-container">
    <input type="text" id="search-input" placeholder="Rechercher un article...">
    <button aria-label="Fermer la barre de recherche" class="bt-close"><svg class="icon-top icon-close"><use xlink:href="#icon-close"></use></svg></button>
    <ul id="results-container"></ul>
  </div>

  <hgroup class="title">
    <h1> <a href="/"> Geneva Azure & PowerShell user group </a> </h1>  
    <h2> <a href="/"> Meetups, conférences et articles </a> </h2>
  </hgroup>

</header>
